In [2]:
%matplotlib inline
import pandas as pd
import matplotlib.pyplot as plt
import os

In [3]:
print('Esperamos trabalhar no diretório')
print(os.getcwd())

Esperamos trabalhar no diretório
/Users/Lucanoto/Desktop/2˚ Semestre/Ciência dos Dados/Exercícios/PNAD

In [4]:
dados = pd.read_excel('PNAD_2013.xlsx')
print('Pronto')

Pronto

In [26]:
dados.shape

(362555, 72)

## Selecionando dados p/ trabalhar

In [27]:
selecionadas = dados[['UF','V0302','V0404','V6002','V4802','V0601','V061113','V8005','V4720']]

In [41]:
selecionadas

,UF,REGIAO,SEXO,COR,REDE,NIVEL,ALFABETIZADO,INTERNET_MOVEL,IDADE,RENDMEN
1,11,Norte,4,2,99,99,1,99,42,350
2,11,Norte,4,8,99,99,3,99,64,678
3,11,Norte,4,4,2,8,1,1,13,0
4,11,Norte,2,8,99,99,1,1,23,800
5,11,Norte,4,8,4,11,1,1,19,0
6,11,Norte,4,8,4,10,1,1,17,0
7,11,Norte,2,4,99,99,1,99,59,800
8,11,Norte,4,2,99,99,1,99,56,0
9,11,Norte,2,8,99,99,1,1,25,1100
10,11,Norte,4,2,99,99,1,1,23,134
11,11,Norte,4,2,2,1,3,99,5,NaN
12,11,Norte,2,2,99,99,1,99,37,4000
13,11,Norte,4,2,99,99,1,1,25,0
14,11,Norte,2,2,4,99,3,99,4,NaN
15,11,Norte,4,2,99,99,1,1,50,3500
16,11,Norte,4,2,4,11,1,1,23,0
17,11,Norte,2,2,99,99,1,99,28,1300
18,11,Norte,2,2,99,99,1,99,41,1400
19,11,Norte,4,2,99,99,1,99,34,0
20,11,Norte,2,2,2,10,1,1,17,0
21,11,Norte,2,2,2,10,1,1,15,0
22,11,Norte,2,2,99,99,3,99,1,NaN
23,11,Norte,2,8,99,99,1,99,51,1000
24,11,Norte,4,4,99,99,1,99,44,0
25,11,Norte,2,4,2,7,1,99,8,NaN
26,11,Norte,2,2,99,99,1,99,36,1100
27,11,Norte,2,2,99,99,1,99,49,1300
28,11,Norte,2,8,2,7,1,99,9,NaN
29,11,Norte,4,2,99,99,1,1,25,678
30,11,Norte,2,8,99,99,1,99,57,3000
...,...,...,...,...,...,...,...,...,...,...
362526,53,CentroOeste,2,4,2,7,1,99,10,0
362527,53,CentroOeste,4,2,99,99,1,99,33,800
362528,53,CentroOeste,2,2,99,99,1,99,43,980
362529,53,CentroOeste,2,2,2,7,1,99,12,0
362530,53,CentroOeste,4,2,2,7,1,99,9,NaN
362531,53,CentroOeste,2,2,2,6,3,99,7,NaN
362532,53,CentroOeste,2,8,99,99,1,2,42,3100
362533,53,CentroOeste,4,8,99,99,1,99,38,970
362534,53,CentroOeste,2,8,99,99,1,1,18,800
362535,53,CentroOeste,4,8,2,10,1,1,15,0
362536,53,CentroOeste,4,8,2,8,1,1,14,0
362537,53,CentroOeste,4,8,2,10,1,1,18,0
362538,53,CentroOeste,2,8,99,99,1,1,23,800
362539,53,CentroOeste,2,2,99,99,1,99,50,1200
362540,53,CentroOeste,4,2,99,99,1,99,39,900
362541,53,CentroOeste,2,2,99,99,1,1,21,1600
362542,53,CentroOeste,4,8,4,11,1,1,22,0
362543,53,CentroOeste,4,2,99,99,3,99,35,550
362544,53,CentroOeste,2,2,99,99,1,99,49,1000
362545,53,CentroOeste,4,2,2,7,1,2,13,0
362546,53,CentroOeste,2,2,99,99,1,99,54,2000
362547,53,CentroOeste,4,8,99,99,1,99,48,400
362548,53,CentroOeste,2,8,2,1,3,99,5,NaN
362549,53,CentroOeste,2,4,2,10,1,1,17,100
362550,53,CentroOeste,4,2,4,11,1,2,30,0
362551,53,CentroOeste,2,4,99,99,1,2,33,1550
362552,53,CentroOeste,2,2,2,7,1,2,11,0
362553,53,CentroOeste,2,8,99,99,3,99,2,NaN
362554,53,CentroOeste,4,8,99,99,1,99,32,800
362555,53,CentroOeste,4,8,2,6,3,99,6,NaN

## Renomeando Colunas

In [29]:
selecionadas.columns = ['UF','SEXO','COR','REDE','NIVEL','ALFABETIZADO','INTERNET_MOVEL', 'IDADE', 'RENDMEN']

In [30]:
selecionadas

,UF,SEXO,COR,REDE,NIVEL,ALFABETIZADO,INTERNET_MOVEL,IDADE,RENDMEN
1,11,4,2,NaN,NaN,1,NaN,42,350
2,11,4,8,NaN,NaN,3,NaN,64,678
3,11,4,4,2,8,1,1,13,0
4,11,2,8,NaN,NaN,1,1,23,800
5,11,4,8,4,11,1,1,19,0
6,11,4,8,4,10,1,1,17,0
7,11,2,4,NaN,NaN,1,NaN,59,800
8,11,4,2,NaN,NaN,1,NaN,56,0
9,11,2,8,NaN,NaN,1,1,25,1100
10,11,4,2,NaN,NaN,1,1,23,134
11,11,4,2,2,1,3,NaN,5,NaN
12,11,2,2,NaN,NaN,1,NaN,37,4000
13,11,4,2,NaN,NaN,1,1,25,0
14,11,2,2,4,NaN,3,NaN,4,NaN
15,11,4,2,NaN,NaN,1,1,50,3500
16,11,4,2,4,11,1,1,23,0
17,11,2,2,NaN,NaN,1,NaN,28,1300
18,11,2,2,NaN,NaN,1,NaN,41,1400
19,11,4,2,NaN,NaN,1,NaN,34,0
20,11,2,2,2,10,1,1,17,0
21,11,2,2,2,10,1,1,15,0
22,11,2,2,NaN,NaN,3,NaN,1,NaN
23,11,2,8,NaN,NaN,1,NaN,51,1000
24,11,4,4,NaN,NaN,1,NaN,44,0
25,11,2,4,2,7,1,NaN,8,NaN
26,11,2,2,NaN,NaN,1,NaN,36,1100
27,11,2,2,NaN,NaN,1,NaN,49,1300
28,11,2,8,2,7,1,NaN,9,NaN
29,11,4,2,NaN,NaN,1,1,25,678
30,11,2,8,NaN,NaN,1,NaN,57,3000
...,...,...,...,...,...,...,...,...,...
362526,53,2,4,2,7,1,NaN,10,0
362527,53,4,2,NaN,NaN,1,NaN,33,800
362528,53,2,2,NaN,NaN,1,NaN,43,980
362529,53,2,2,2,7,1,NaN,12,0
362530,53,4,2,2,7,1,NaN,9,NaN
362531,53,2,2,2,6,3,NaN,7,NaN
362532,53,2,8,NaN,NaN,1,2,42,3100
362533,53,4,8,NaN,NaN,1,NaN,38,970
362534,53,2,8,NaN,NaN,1,1,18,800
362535,53,4,8,2,10,1,1,15,0
362536,53,4,8,2,8,1,1,14,0
362537,53,4,8,2,10,1,1,18,0
362538,53,2,8,NaN,NaN,1,1,23,800
362539,53,2,2,NaN,NaN,1,NaN,50,1200
362540,53,4,2,NaN,NaN,1,NaN,39,900
362541,53,2,2,NaN,NaN,1,1,21,1600
362542,53,4,8,4,11,1,1,22,0
362543,53,4,2,NaN,NaN,3,NaN,35,550
362544,53,2,2,NaN,NaN,1,NaN,49,1000
362545,53,4,2,2,7,1,2,13,0
362546,53,2,2,NaN,NaN,1,NaN,54,2000
362547,53,4,8,NaN,NaN,1,NaN,48,400
362548,53,2,8,2,1,3,NaN,5,NaN
362549,53,2,4,2,10,1,1,17,100
362550,53,4,2,4,11,1,2,30,0
362551,53,2,4,NaN,NaN,1,2,33,1550
362552,53,2,2,2,7,1,2,11,0
362553,53,2,8,NaN,NaN,3,NaN,2,NaN
362554,53,4,8,NaN,NaN,1,NaN,32,800
362555,53,4,8,2,6,3,NaN,6,NaN

## Criando a Coluna das Regiões

In [31]:
selecionadas.insert(1,'REGIAO',0)

In [32]:
selecionadas

,UF,REGIAO,SEXO,COR,REDE,NIVEL,ALFABETIZADO,INTERNET_MOVEL,IDADE,RENDMEN
1,11,0,4,2,NaN,NaN,1,NaN,42,350
2,11,0,4,8,NaN,NaN,3,NaN,64,678
3,11,0,4,4,2,8,1,1,13,0
4,11,0,2,8,NaN,NaN,1,1,23,800
5,11,0,4,8,4,11,1,1,19,0
6,11,0,4,8,4,10,1,1,17,0
7,11,0,2,4,NaN,NaN,1,NaN,59,800
8,11,0,4,2,NaN,NaN,1,NaN,56,0
9,11,0,2,8,NaN,NaN,1,1,25,1100
10,11,0,4,2,NaN,NaN,1,1,23,134
11,11,0,4,2,2,1,3,NaN,5,NaN
12,11,0,2,2,NaN,NaN,1,NaN,37,4000
13,11,0,4,2,NaN,NaN,1,1,25,0
14,11,0,2,2,4,NaN,3,NaN,4,NaN
15,11,0,4,2,NaN,NaN,1,1,50,3500
16,11,0,4,2,4,11,1,1,23,0
17,11,0,2,2,NaN,NaN,1,NaN,28,1300
18,11,0,2,2,NaN,NaN,1,NaN,41,1400
19,11,0,4,2,NaN,NaN,1,NaN,34,0
20,11,0,2,2,2,10,1,1,17,0
21,11,0,2,2,2,10,1,1,15,0
22,11,0,2,2,NaN,NaN,3,NaN,1,NaN
23,11,0,2,8,NaN,NaN,1,NaN,51,1000
24,11,0,4,4,NaN,NaN,1,NaN,44,0
25,11,0,2,4,2,7,1,NaN,8,NaN
26,11,0,2,2,NaN,NaN,1,NaN,36,1100
27,11,0,2,2,NaN,NaN,1,NaN,49,1300
28,11,0,2,8,2,7,1,NaN,9,NaN
29,11,0,4,2,NaN,NaN,1,1,25,678
30,11,0,2,8,NaN,NaN,1,NaN,57,3000
...,...,...,...,...,...,...,...,...,...,...
362526,53,0,2,4,2,7,1,NaN,10,0
362527,53,0,4,2,NaN,NaN,1,NaN,33,800
362528,53,0,2,2,NaN,NaN,1,NaN,43,980
362529,53,0,2,2,2,7,1,NaN,12,0
362530,53,0,4,2,2,7,1,NaN,9,NaN
362531,53,0,2,2,2,6,3,NaN,7,NaN
362532,53,0,2,8,NaN,NaN,1,2,42,3100
362533,53,0,4,8,NaN,NaN,1,NaN,38,970
362534,53,0,2,8,NaN,NaN,1,1,18,800
362535,53,0,4,8,2,10,1,1,15,0
362536,53,0,4,8,2,8,1,1,14,0
362537,53,0,4,8,2,10,1,1,18,0
362538,53,0,2,8,NaN,NaN,1,1,23,800
362539,53,0,2,2,NaN,NaN,1,NaN,50,1200
362540,53,0,4,2,NaN,NaN,1,NaN,39,900
362541,53,0,2,2,NaN,NaN,1,1,21,1600
362542,53,0,4,8,4,11,1,1,22,0
362543,53,0,4,2,NaN,NaN,3,NaN,35,550
362544,53,0,2,2,NaN,NaN,1,NaN,49,1000
362545,53,0,4,2,2,7,1,2,13,0
362546,53,0,2,2,NaN,NaN,1,NaN,54,2000
362547,53,0,4,8,NaN,NaN,1,NaN,48,400
362548,53,0,2,8,2,1,3,NaN,5,NaN
362549,53,0,2,4,2,10,1,1,17,100
362550,53,0,4,2,4,11,1,2,30,0
362551,53,0,2,4,NaN,NaN,1,2,33,1550
362552,53,0,2,2,2,7,1,2,11,0
362553,53,0,2,8,NaN,NaN,3,NaN,2,NaN
362554,53,0,4,8,NaN,NaN,1,NaN,32,800
362555,53,0,4,8,2,6,3,NaN,6,NaN

## Definindo as regiões de cada Estado

In [33]:
selecionadas.ix[selecionadas.UF <= 17,'REGIAO'] = 'Norte'
selecionadas.ix[(selecionadas.UF >=21) & (selecionadas.UF<=29),'REGIAO'] = 'Nordeste'
selecionadas.ix[(selecionadas.UF >=31) & (selecionadas.UF<=35),'REGIAO'] = 'Sudeste'
selecionadas.ix[(selecionadas.UF >=41) & (selecionadas.UF<=43),'REGIAO'] = 'Sul'
selecionadas.ix[selecionadas.UF >=50 ,'REGIAO'] = 'CentroOeste'

print('Ordem Executada')

Ordem Executada

//anaconda/lib/python3.5/site-packages/pandas/core/indexing.py:426: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

In [40]:
selecionadas.head(5)

,UF,REGIAO,SEXO,COR,REDE,NIVEL,ALFABETIZADO,INTERNET_MOVEL,IDADE,RENDMEN
1,11,Norte,4,2,99,99,1,99,42,350
2,11,Norte,4,8,99,99,3,99,64,678
3,11,Norte,4,4,2,8,1,1,13,0
4,11,Norte,2,8,99,99,1,1,23,800
5,11,Norte,4,8,4,11,1,1,19,0

In [35]:
selecionadas.dtypes

UF                  int64
REGIAO             object
SEXO                int64
COR                 int64
REDE              float64
NIVEL             float64
ALFABETIZADO        int64
INTERNET_MOVEL    float64
IDADE               int64
RENDMEN           float64
dtype: object

### Transformando os NaN's em um valor inteiro p/ facilitar

In [36]:
selecionadas.INTERNET_MOVEL=selecionadas.INTERNET_MOVEL.fillna(99)
selecionadas.REDE=selecionadas.REDE.fillna(99)
selecionadas.NIVEL=selecionadas.NIVEL.fillna(99)

//anaconda/lib/python3.5/site-packages/pandas/core/generic.py:2387: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

In [ ]:
selecionadas.replace(to_replace={‘RENDMEN’: {‘999999999999’: np.nan}})

In [37]:
selecionadas.dtypes

UF                  int64
REGIAO             object
SEXO                int64
COR                 int64
REDE              float64
NIVEL             float64
ALFABETIZADO        int64
INTERNET_MOVEL    float64
IDADE               int64
RENDMEN           float64
dtype: object

In [39]:
selecionadas.to_excel('dados_prontos2.xlsx', index = True)
print('Pronto')

Pronto